body {
            margin: 0;
            background-color: rgb(242, 242, 242);
            background: url("illustration-du-ciel-nocturne-de-l-anime.jpg") no-repeat;
            background-attachment: fixed;
            background-position: 50% 50%;
            background-size: cover;
        }

        .button-bg {
            background-color: rgb(182, 198, 232);
            border-radius: 15px;
            width: 160px;
            height: 35px;
            margin-top: 10px;
            text-align: center;
            align-items: center;
            box-shadow: 0px 0px 6px 5px rgba(182, 198, 232, 0.9);
        }

        .container {
            display: grid;
            grid-template-columns: repeat(3, 350px);
            gap: 40px;
            padding: 20px;
            align-items: left;
            margin-left: 60px;
        }

        .card {
            height: 230px;
            width: 350px;
            border-radius: 8px;
            box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.2);
            background-color: rgb(240, 239, 239);
            border-left: 6px solid rgb(35, 7, 119);
        }

        .btn,
        .newBtn {
            width: 75px;
            height: 30px;
            background-color: rgb(10, 77, 139);
            border-radius: 15px;
            border: 0;
            color: rgb(255, 255, 255);
            font-weight: 400;
            margin-top: 2px;

        }

        .newBtn {
            width: 150px;
            height: 30px;
            transition: 0.3s
        }

        .newBtn:hover {
            width: 155px;
            height: 33px;
            background-color: rgb(11, 85, 153);
            border-radius: 15px;
            border: 0;
            color: rgb(255, 255, 255);
            font-weight: 700;
            margin-top: 2px;
             transform: scale(1.05);
            cursor: pointer;
        }

        .newBtn:hover .button-bg {
            background-color: rgb(36, 43, 58);
            border-radius: 15px;
            width: 160px;
            height: 35px;
            margin-top: 10px;
            text-align: center;
            align-items: center;
            box-shadow: 0px 0px 6px 5px rgba(18, 21, 27, 0.9);
        }

        dialog::backdrop {
            background: unset;

        }

        .bookInfo {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 20px;
            border-radius: 6px;
        }

        .cardInfo {
            height: 140px;
            padding: 20px;
            margin-top: 5px;
        }

        dialog {
            top: 95px;
            position: fixed;
            margin: 0;
            left: 43%;
            border-radius: 6px;
            border: 0;
            box-shadow: 0 0 6px 6px rgba(28, 54, 134, 0.6);
            ;
        }

        .cardBottom {
            text-align: center;
            margin-bottom: 10px;
        }

        .button-area {
            text-align: center;
            margin-top: 30px;
            align-items: center;
            align-content: center;
            margin-left: 575px;
        }

        .box {
            border-radius: 15px;
            background-color: rgb(232, 238, 248);
            border: 0;
            height: 25px;
            padding-left: 10px
        }

        #description {
            height: 100px;
            width: 180px;
        }

        h3 {
            margin: 0;
            font-family: sans-serif;
            list-style: lower-latin;
        }

        h5 {
            margin-top: 5px;
            font-weight: 600;
            color: rgb(44, 44, 44)
        }
